FLARESOLVERR_URL=http://flaresolverr:8191
TARGET_URL=https://grok.com
TIMEOUT_SEC=90
WARP_AUTO_PRIORITY=false
AUTO_HTTP_PROXY_ENABLED=true
AUTO_HTTP_PROXY_PORT=3128
AUTO_HTTP_PROXY_USER=proxyuser
AUTO_HTTP_PROXY_PASSWORD=change_me
BASE_PROXY_URL=
PUBLIC_PROXY_URL=
API_KEY=
